/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(18, 18, 18,1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(10, 10, 10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
.emoji{
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
